html {
    height: 100vh;
    background: linear-gradient(rgb(122, 177, 122), white);    
}

body {
    
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

nav {
    width: 100%;
}

.llista-nav{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.llista-nav li{
    padding: 5px 20px;
    background-color: rgb(160, 223, 168);
    border-color: black;
    border: 2px;
    border-radius: 5px;

}

nav ul :first-child {
    margin-right: auto;
}

.llista-nav li a {
    color: black;
    text-decoration: none;

}

h1 p {
    color: rgb(0, 0, 0);
}